{% extends 'base.html.twig' %}

{% block title %}Baskets{% endblock %}

{% block body %}
    <div
        class="w-full max-w-screen-sm mx-auto px-4"
        {{ turbo_stream_listen('App\\Entity\\Basket') }}
    >
        <div class="flex justify-between items-center">
            <h1 class="text-2xl my-8">Baskets</h1>
        </div>

        <ul>
            <li><a href="{{ path('baskets_new') }}">New basket</a></li>
            <li><a href="{{ path('baskets_new_combined') }}">New basket from open items</a></li>
        </ul>

        <ul
            id="basket-list"
            role="list"
            class="divide-y divide-gray-100 dark:divide-white/5"
        >
            {% for basket in baskets %}
                {% include 'baskets/_basket_row.html.twig' with {basket: basket} %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
